<div class="main-content">
  <h2>About us</h2>
  <p>The online store was founded in 2004 by Vladislav and Tatyana Bakalchuk.
    In 2012, TopStore entered the Belarusian market, in 2014 it began to take orders and deliver to Kazakhstan.
    At the end of 2015, TopStore became the most popular domestic online store among Russians.
    In the first half of 2016, TopStore came out on top in online sales among KZ companies (online stores and offline networks), which was associated with an increase in the number of own pickup points. Sales of the online store for the whole of 2016 were estimated at 45.6 billion rubles.
    In September 2017, near Podolsk, construction began on a new distribution center of the company, the largest in KZ (145,000 m2).
    In 2018, the online store began selling food products. At the same time, the Russian Forbes in the next rating of the most expensive Runet companies again ranked TopStore LLC in fourth place, estimating its capital at $602 million. In 2019, Wildberries again took fourth place in the rating of the most expensive Runet companies, published on the pages of Forbes magazine. The value of the company in 2019, according to experts, amounted to $1.2 billion. The American magazine Forbes in 2019 included the founder of the company Tatyana Bakalchuk in the rating of "Top 10 most notable new billionaires - 2019". According to the company, in 2018 TopStore's turnover increased by 72% to RUB 118.7 billion.
    Since March 1, 2019, TopStore has become the exclusive online seller of new collections of the Dutch brand Mexx.
    In 2019, it was recognized as the largest fashion dealer in Russia.
    In January 2021, it became known that TopStore started working in Germany. This is the tenth country in which TopStore has a presence — in 2019, the marketplace was launched in Poland, Slovakia, Ukraine, and Israel.
    In June 2021, the service launched the possibility of buying on the site in installments or on credit.</p>
</div>
