<h2>All products</h2>

<div *ngFor="let product of products">

  <div *ngIf="product.categoryId == categoryId && !product.check">

    <p class="image"><img *ngIf="product.image" src="{{product.image}}" [class.img] = "product"></p>

    <a class="name" [title]="product.name + ' details'" [routerLink]="['/products', product.id]">
      {{ product.name }}
    </a>

    <p *ngIf="product.rating"> Rating: {{product.rating}}</p>

    <p *ngIf="product.price">Price: ${{product.price}}</p>


    <a [href] = "'https://telegram.me/share/url?url=' + product.linkamazon" target="_blank">
      <button type="button" (click)="share()">
      Share
    </button></a>

    <div class="button-box">
      <app-product-like>
        [product]="product"
        (click) = "like()">
      </app-product-like>
    </div>

    <div class="button-box">
      <button type="button" (click)="productremove(product)">
        Remove
      </button>
    </div>

    <app-product-alerts
    [product]="product"
    (notify)="onNotify()">
    </app-product-alerts>

  </div>
</div>





