<footer>
  <div class="footer-content">
    <h3>Top Store</h3>

    <p>TopStore is an international online store of clothing,
      footwear, electronics, children's goods, household goods
      and other goods. Works in Russia, USA, France, Italy, Spain,
      Belarus, Kazakhstan, Kyrgyzstan, Armenia, Poland, Slovakia,
      Germany, Israel, Moldova, Turkey and Uzbekistan</p>

    <ul class="socials">
      <li><a href="#"><img src="assets\facebook.png"> </a></li>
      <li><a href="#"><img src="assets\instagram.png"> </a></li>
      <li><a href="#"><img src="assets\twitter.png"> </a></li>
      <li><a href="#"><img src="assets\linkedin.png"> </a></li>
   </ul>
  </div>

  <div class="footer-bottom">
    <div class="footer-menu">
      <ul class="f-menu">
        <li><a href="">Business</a></li>
        <li><a href="">Projects</a></li>
        <li><a href="">Carees</a></li>
        <li><a href="">Addresses and telephones</a></li>
        <li><a href="">For medias</a></li>
        <li><a href="">Write to us</a></li>
        <li><a href="">Our vacancies</a></li>
        <li><a href="">Advertising on the website</a></li>
        <li><a href="">Software Requirements</a></li>
        <li><a href="">Investors</a></li>
      </ul>
    </div>
  </div>
</footer>

<!-- Our vacancies
Advertising on the website
Software Requirements
Protection of personal information
Investors
Terms of Service
Website terms of use -->
