.main-content{
  padding-bottom: 300px;
  margin-left: 50px;
  margin-right: 50px;
}

.goback{
  padding: 5px 10px;
  border-radius: 5px;
  border: solid 1px #333;
  background-color: #94a5a773;
  float: right;
  margin-right: 200px;
}

.buy-button{
  padding: 5px 10px;
  border-radius: 5px;
  border: solid 1px #333;
  background-color: #94a5a773;
}
button:hover{
  background-color: rgb(153, 144, 144);
}
