<div class="main-content">
  <button class="goback" (click)="goBack()">Go Back</button>
  <div *ngIf="product">
    <h2> Product Details # {{product.id}}</h2>

    <h3>{{ product.name }}</h3>
    <p *ngIf="product.description">Description: {{ product.description }}</p>
    <p *ngIf="product.rating">
      Rating: <span class="fa fa-star checked"></span> {{ product.rating }}
    </p>
    <p *ngIf="product.price">Price: ${{ product.price }}</p>

    <p>
      <img class="product_image"
        *ngIf="product.image"
        src="{{ product.image }}"
        [class.img]="product"
      />
    </p>
    <button class="buy-button" type="button" (click)="addToCart(product)">Buy</button>

    <h3>Feedbacks</h3>

    <app-feedback-details [productId]="product.id">
    </app-feedback-details>

  </div>


  <!--
  Copyright Google LLC. All Rights Reserved.
  Use of this source code is governed by an MIT-style license that
  can be found in the LICENSE file at https://angular.io/license
  -->

</div>
